@model ShopPizzaHut.Models.EF.NhanVien
@using ShopPizzaHut.Helper

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Nhân viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVuNhanVien.TenChucVu)
        </dd>

        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            @Html.Image(Model.Image, "", "200")
            </br>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.MaNV })" class="btn btn-default" style="background:#4e73df; color:white;">Sửa</a>
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
