@model IEnumerable<ShopPizzaHut.Models.EF.KhachHang>

@{
    ViewBag.Title = "Quản lý khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý khách hàng</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-default" style="background:#4e73df; color:white;">Thêm mới</a>
</p>
<table class="table">
    <tr>
        <th width="185">
            Tên loại khách hàng
        </th>
        <th width="141">
            Tên khách hàng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.LoaiKhachHang.TenLoaiKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DienThoai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td width="218px">
        <a href="@Url.Action("Edit", new { id = item.MaKH })" class="btn btn-default" style="background:#4e73df; color:white;">Sửa</a>
        <a href="@Url.Action("Details", new { id = item.MaKH })" class="btn btn-default" style="background:#4e73df; color:white;">Chi tiết</a>
        <a href="@Url.Action("Delete", new { id = item.MaKH })" class="btn btn-default" style="background:#4e73df; color:white;">Xóa</a>
    </td>
</tr>
}

</table>
