@model IEnumerable<ShopPizzaHut.Models.EF.SanPham>
@using ShopPizzaHut.Helper
@{
    ViewBag.Title = "Quản lý ản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý sản phẩm</h2>
@using (Html.BeginForm())
{
    <input type="text" name="KeyWord" value="" style=" border-radius: 10px; height: 36px;" />
    <input type="submit" name="submit" value="Tìm kiếm" class="btn btn-success" />
}
<p>
    <a href="@Url.Action("Create")" class="btn btn-default" style="background:#4e73df; color:white;">Thêm mới</a>
</p>
<table class="table">
    <tr>
        <th width="77">
            Mã sản phẩm
        </th>
        <th width="100">
            Tên loại sản phẩm
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Chi tiết sản phẩm
        </th>
        <th>
            Đơn giá
        </th>
        <th width="75">
            Đơn vị tính
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSP.TenLoaiSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.Raw(item.ChiTietSP)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Dongia)*@
                @String.Format("{0:#,###}", item.Dongia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donvitinh)
            </td>
            <td>
                @Html.Image("" + item.Image, "alt", "100")
            </td>
            <td width="102px">
                <a href="@Url.Action("Edit", new { id = item.MaSP })" class="btn btn-default" style="background:#4e73df; color:white;">Sửa</a>
                <a href="@Url.Action("Details", new { id = item.MaSP })" class="btn btn-default" style="background:#4e73df; color:white;">Chi tiết</a>
                <a href="@Url.Action("Delete", new { id = item.MaSP })" class="btn btn-default" style="background:#4e73df; color:white;">Xóa</a>
            </td>
        </tr>
    }

</table>
<div class="text-center">
    @if (@ViewBag.NumPages != null && @ViewBag.NumPages > 1)
    {
        <span class="btn" style="background:#4e73df"><a class="text-white" href="~/Admin/SanPham/Index?page=1"><<</a></span>
        for (int i = 1; i <= @ViewBag.NumPages; i++)
        {
            <span class="btn " style="background:#4e73df"><a class="text-white" href="~/Admin/SanPham/Index?page=@i">@i</a></span>
        }
        <span class="btn" style="background:#4e73df"><a class="text-white" href="~/Admin/SanPham/Index?page=@ViewBag.NumPages">>></a></span>
    }
</div>
